// CLASES GENERALES
.botones {
    margin-left: 10px;
    margin-right: 10px;
    background-color: $colorPrincipal;
    color: white;
    font-family: sans-serif;
    &:hover{
        background-color: grey !important;
    }
}

.botones2 {
    margin-top: 10px;
    background-color: $colorPrincipal;
    color: white;
    font-family: sans-serif;
    &:hover{
        background-color: grey !important;
    }
}

.titulos {
    color: $colorPrincipal;
}